<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%=homeContent%></p>

<!-- <%console.log(posts); %> -->

<% posts.forEach((post)=>{%>
    <%   const str = post.body; %>
    <% const newStr = str.substring(0,300); %>

    <h1><%=post.title%></h1>
    <p><%=newStr + "..."%></p>
<%}) %>


<%- include("partials/footer"); -%>